/* Navbar */
	#logout
	{
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		float: left;
		background-color: #8AC7A7;
		transition: background-color 0.3s;
		text-decoration: none;
		color: #000000;
	}
	#logout:hover
	{
		background-color: #73BD96;
	}