/* To fix blank frame */
*
{
	margin: 0px;
}

body
{
	background-color: #E6F3E6;
	font-family: 'Arimo', sans-serif;
}

.float-left
{
	float: left;
}

/* Navbar */
	#header
	{
		z-index: 1;
		background-color: #9BCFB4; /*#84C5A3*/ /*#86C584*/
		height: 50px;
	}
	#logo
	{
		float: left;
	}
	#logout
	{
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		float: left;
		background-color: #8AC7A7;
		transition: background-color 0.3s;
	}
	#logout:hover
	{
		background-color: #73BD96;
	}
	nav
	{
	 	padding-left: 10px;
	}

/* Card project */

	#projects 
	{
		margin: 10px 50px;
		width: 100%;
	}
	.card-project
	{
		width: 300px;
		background-color: #ECE7CE;
		box-shadow: 1px 1px 3px 2px #AAAAAA;
		margin: 20px;
	}
	.title-project
	{
		background-color: #D4CFB9;
		text-align: center;
		padding: 10px;
		border-bottom: solid #CCD4B9;
	}
	.information
	{
		margin: 15px;
		padding-bottom: 15px;
		border-bottom: solid #CCD4B9 2px;
	}

.stats
{
	padding: 10px;
	background-color: #D4CDB9;
	transition: background-color 0.3s;
}
.stats:hover
{
	background-color: #CAC2A9;
}
.arrow-right 
{
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #A3956A;

	margin: 5px;
	float: right;
}
.arrow-down 
{
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #A3956A;

	margin: 7px;
	float: right;
}
/*End CSS Card project