/* To fix blank frame */
*
{
	margin: 0px;
}

body
{
	background-color: #E6F3E6;
	font-family: 'Arimo', sans-serif;
}

/* Navbar */
	#header
	{
		z-index: 1;
		background-color: #9BCFB4; /*#84C5A3*/ /*#86C584*/
		height: 50px;
	}
	#logo
	{
		float: left;
	}
	#logout
	{
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		float: left;
		background-color: #8AC7A7;
	}
	#logout:hover
	{
		background-color: #73B:*/D96;
	}
	nav
	{
	 	padding-left: 10px;
	}

	#projects 
	{
		margin: 10px 50px;
	}

/*Begin CSS Card project*/
.card-project
{
	width: 300px;
	background-color: #ECE7CE;
	box-shadow: 1px 1px 3px 2px #AAAAAA;
	position: relative;
	margin-top: 20px;
}

.title-project
{
	background-color: #D4CFB9;
	text-align: center;
	padding: 10px;
}

.description
{

}
.sub_title
{
	font-style: bold;
	font-size: 12px;
}
.last_use
{
	margin: 15%;
}

.stats
{
	margin: 15%;
}
/*End CSS Card project