<!doctype html>
	<head>
		<title>{{project.name}}-Bamboo</title>
		<meta name="description" content="Project Manager Project">
		<meta name="keywords" content="Project Manager">
		<meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
		<meta charset="UTF-8 bin">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel= "stylesheet" href= "../assets/styles/style.css"/>
		<script type="text/javascript" src="../assets/javascript/jquery-2.1.1.min"></script>
		<script type="text/javascript" src="../assets/javascript/Walrus.js"></script>
        <script type="text/javascript" src="../assets/javascript/home.js"></script>
	</head>

    <body>
        <header>
             <nav>
             	<div id="logo">
                	<img src="../assets/images/logoBamboo3.png" height="50">
             	</div>
             	<a href="#" id="logout">
             		Deconnexion
             	</a>
            </nav>
        </header>
        <h1>Vous êtes sur la board du projet {{project.name}}</h1>
        <h2>{{project.description}}</h2>
    </body>
</html>