<html>
    <head>
        <title>Bamboo Project</title>
    </head>
    <body>
        <a href="/"><button>Accueil</button></a>
        <h1>Vous êtes sur la board du projet {{project.name}}</h1>
        <h2>{{project.description}}</h2>
    </body>
</html>