<!DOCTYPE html>
    <head>
        <title>HomePage-Bamboo</title>
        <meta name="description" content="Project Manager Project">
        <meta name="keywords" content="Project Manager">
        <meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
        <meta charset="UTF-8 bin">
        <link rel= "stylesheet" href= "style_formulaire.css"/>
        <script type="text/javascript" src="assets/javascript/jquery-2.1.1.min"></script>
        <script type="text/javascript" src="assets/javascript/walrus"></script>  
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
    </head>

    <body>
        <header>
             <nav>
                    <div id="logo">
                            LOGO KIKOU
                    </div> 
                Hello
            </nav>
        </header>
        <div id="wrapper">

            <form method="post" action="traitement.php">
             
               <fieldset>
                <legend></legend> 
                <h4>Votre projet
                </h4>
                <label for="nom">Le nom de votre projet :</label>
                <input type="text" name="nom" id="nom" />
                <br>
                <script>
                    $(function() {
                        $("#datepicker1,#datepicker2").datepicker();
                    });
                </script>
                <div id="date_begin">
                    <p>Date de d&eacute;but: <input id="datepicker1" type="text" size="28" />
                    </p> 
                </div>
                <div id="date_end">
                    <p>Date de fin: <input id="datepicker2" type="text" size="28" />
                    </p> 
                </div>
                <label for="participant">Le nom des participant de votre projet :
                </label>
                <input type="text" name="participant" id="participant" />
                <br>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="40" rows="4"></textarea><a href=""></a>
                <br>
                <label for="color">Couleur :
                </label>
                <div id="wrapper_colorbox">

                    <div id="colorbox_red" class="colorbox">
                    </div>
                    <div id="colorbox_green" class="colorbox">
                    </div>
                    <div id="colorbox_blue" class="colorbox">
                    </div>
                    <div id="colorbox_orange" class="colorbox">
                    </div>
                    <div id="colorbox_yellow" class="colorbox">
                    </div>
                    <div style="clear:both"></div>
                    <br>
                </div>
                <label for="logo">Logo :
                </label>
                <input type="file" name="logo">

               </fieldset>
             
            </form>

            <form method="post" action="traitement.php">
             
               <fieldset>
                <legend></legend> 
                <h4>Votre tache
                </h4>
                <label for="nom">Le nom de votre tache :</label>
                <input type="text" name="nom" id="nom" />
                <br>
                <script>
                    $(function() {
                        $("#datepicker1,#datepicker2").datepicker();
                    });
                </script>
                <div id="date_begin">
                    <p>Date de d&eacute;but: <input id="datepicker1" type="text" size="28" />
                    </p> 
                </div>
                <div id="date_end">
                    <p>Date de fin: <input id="datepicker2" type="text" size="28" />
                    </p> 
                </div>
                <label for="participant">Le nom des participant de votre projet :
                </label>
                <input type="text" name="participant" id="participant" />
                <br>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="40" rows="4"></textarea><a href=""></a>
                <br>
                <label for="color">Couleur :
                </label>
                <div id="wrapper_colorbox">

                    <div id="colorbox_red" class="colorbox">
                    </div>
                    <div id="colorbox_green" class="colorbox">
                    </div>
                    <div id="colorbox_blue" class="colorbox">
                    </div>
                    <div id="colorbox_orange" class="colorbox">
                    </div>
                    <div id="colorbox_yellow" class="colorbox">
                    </div>
                    <div style="clear:both"></div>
                    <br>
                </div>

               </fieldset>
             
            </form>
        </div>
        <footer>

        </footer>  
    <script type="text/javascript">
    $(".colorbox").click(function(){
        $(".colorbox").css("border","none");
        $(this).css("border","1px solid black");
    });
    </script>

    </body>
</html>


<!-- {% if project > 1 %}
            {% endif %}
            {% elseif online == 1 %}
            {% endif %}

            {% else %}
                        {% endif %} -->
                        . class0