<!DOCTYPE html>
    <head>
        <title>HomePage-Bamboo</title>
        <meta name="description" content="Project Manager Project">
        <meta name="keywords" content="Project Manager">
        <meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
        <meta charset="UTF-8 bin">
        <link rel= "stylesheet" href= "/assets/styles/connexion.css"/>
        <script type="text/javascript" src="/assets/javascript/jquery-2.1.1.min"></script>
        <script type="text/javascript" src="/assets/javascript/walrus"></script>  
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class='wrapper'>
        <div id="connexion">
           <img src="/assets/images/logoBamboo3.png" id='logoBamboo'>
           </br>
           </br>
           <a href="{{authUrl}}"><button id="button">Se connecter</button></a>
        </div>
    </div>
    </body>
    <footer>
    </footer>

</html>